<p>Write a program using Pandas to extract the first 9 records from a data frame ‘cars’.</p>

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"cars":[0,1,2,3,4,5,6,7,8,9]})
df

   cars
0     0
1     1
2     2
3     3
4     4
5     5
6     6
7     7
8     8
9     9

In [3]:
df.head(9)

   cars
0     0
1     1
2     2
3     3
4     4
5     5
6     6
7     7
8     8

In [ ]:
SELECT * FROM CARS LIMIT 5;

<p>Write a program that calculates the number of days in the month selected
by the user</p>

In [4]:
def daysOfMonth(month):
    if(month == "January"): return 31
    if(month == "February"): return 28
    if(month == "March"): return 31
    if(month == "Abril"): return 30
    if(month == "May"): return 31
    if(month == "June"): return 30
    if(month == "July"): return 31
    if(month == "August"): return 31
    if(month == "September"): return 30
    if(month == "October"): return 31
    if(month == "November"): return 30
    if(month == "December"): return 31
    return None

In [8]:
daysOfMonth("February")

28

<p> Write a Python function to find and show the length of values contained in
a dictionary. </p>

In [41]:
d = {"a":"aaasd122","b":[1,2,3],"c":{"a":1,"b":2}}

In [46]:
def dictionaryLength(dictionary):
    for element in dictionary:
        # if value is list or dictionary
        if(isinstance(dictionary[element],list) or isinstance(dictionary[element],dict)):
            print(dictionary[element],"size:", len(dictionary[element]))
        else:
            print(dictionary[element],"size:" ,len(str(dictionary[element])))

In [47]:
dictionaryLength(d)

aaasd122 size: 8
[1, 2, 3] size: 3
{'a': 1, 'b': 2} size: 2

<p>Write a Python program to check that a password p meets the following rules:</p>
<ul>
    <li>Contains both lower and uppercase letters</li>
    <li>Contains a number</li>
    <li>Is between 4 and ten characters</li>
</ul>

In [78]:
import re

def passwordCheck(password):
    
    if not isinstance(password,str) : return None
    
    flag = 0;
    if len(password) < 4 or len(password) > 10 : flag = -1
    if not re.search("[a-z]", password) : flag = -1
    if not re.search("[A-Z]", password) : flag = -1
    if not re.search("[0-9]", password) : flag = -1
    
    
    if flag == 0: print("password pass")
    else: print("password did not pass")

In [83]:
passwordCheck("aaaAasD1")

password pass